.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin-left: 10em;
}

.square {
    border: 2px solid black;
    width: 200px;
    height: 100px;
}

.reset-button {
    margin-bottom: 3em;
    padding: 1em;
    font-family: 'Courier New', Courier, monospace;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}